* {
        margin: 0;
        padding: 0;
}
@font-face {
        font-family: Roboto;
        src: url('./assets/font/Roboto-Regular.ttf');
}
@font-face {
        font-family: Roboto-Thin;
        src: url('./assets/font/Roboto-Thin.ttf');
}
@font-face {
        font-family: Roboto-Light;
        src: url('./assets/font/Roboto-Light.ttf');
}
.wrapper {
        width: 1020px;
        /* height: 600px; */
        margin: 0 auto;
        padding: calc(100%-845);
        /* background-color: beige; */
        user-select: none; 
}
.monitor {
        position: relative;
        top: 5px;
        /* left: -40px; */
        margin: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 920px;
        /* height: 540px; */
        /* padding-bottom: 40px; */
        display: flex; 
        flex-wrap: wrap;
        /* border: 2px solid black; */
        border-radius: 25px;
        box-sizing: border-box;
        background-color: rgb(20, 20, 20);
}
.monitor-loop {
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(-50%);
        z-index: 100;
        display: flex;
        margin: auto;
        /* margin-top: 55px; */
        width: 700px;
        height: 21px;
        background-color: rgb(20, 20, 20);
        color: gray;
        font-family: Roboto-Light, Arial, Helvetica, sans-serif;
        font-size: 16px;
        justify-content: center;
        align-items: flex-end;
}
#textarea {
        padding: 5px;
        width: 880px;
        margin: auto;
        border-radius: 4px;
        resize: none;
        outline: none;
        font-family: Roboto-Light, Arial, Helvetica, sans-serif;
        font-size: 16px;
        background-color: lightgray;
}
#keyboard {
        position: relative;
        top: -2px;
        z-index: 10;
        margin: auto;
        padding-top: 30px;
        width: 920px;
        display: flex; 
        flex-wrap: wrap;
        border-radius: 25px;
        box-sizing: border-box;
        background-color: rgb(148, 147, 147);
        /* text-transform: capitalize; */
}
.key-area {
        margin:  auto;
        margin-bottom: 0;
        padding: 0;
        border-radius: 6px;
        border: 1px solid rgb(148, 147, 147);
        box-shadow:
                inset rgba(0,0,0,.8) 2px 2px 4px,
                inset rgba(255,255,255,.6) -2px -2px 4px;
}
.audio {
        position: absolute;
        width: 25px;
        height: 300px;
        background-image: url('./assets/images/dot.png');
        background-repeat: repeat;
        background-size: 6%;
}
.audio.left {
        margin-top: 10px;
        margin-left: 8px;
}
.audio.right {
        margin-top: 10px;
        right: 0;
        margin-right: 8px;
}
.row1, .row2, .row3, .row4, .row5 {
        display: flex;
        flex-wrap: wrap;
}
.row3 {
        justify-content: flex-start;
}
.row5 .key {
        /* padding-bottom: 7px; */
        align-items: flex-end;
        line-height: 30px;
        top: 15px;
        font-size: 10px;
}
.doubleRow {
        display: flex;
}
.row2-3, .arrows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
}
.arrows {
        margin: 3px;
}
.key {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3px;
        width: 50px;
        height: 50px;
        border-radius: 4px;
        /* background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.65), rgba(255,255,255,.35)); */
        /* background: rgb(100,100,100) radial-gradient(circle at 0 0, rgba(255,255,255,.35), rgba(255,255,255,.65)); */
        background: rgb(49, 49, 49) radial-gradient(circle at 0 0, rgba(61, 61, 61, 0.35), rgba(27, 27, 27, 0.65)); 
        box-shadow:
                inset rgba(0,0,0,.8) -2px -2px 4px,
                inset rgba(255,255,255,.6) 1px 1px 4px,
                rgba(0,0,0,.9) 2px 2px 4px -2px;
        font-family: Roboto-Light, Arial, Helvetica, sans-serif;
        font-size: 16px;
        cursor: pointer;
        color: white;
        border: 1px solid rgb(49, 49, 49);
}
.key.backspace {
        width: 80px;
        background-image: url('./assets/images/backspace.png');
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: right 13px bottom 10px;
}
.key.backspace.active {
        background-size: 17%;
}
.func-keys {
        display: flex;
}
.key.func-key {
        height: 20px;
        font-size: 8px;
}
.key.func-key.esc {
        width: 66px;
        padding-left: 15px;
        justify-content: flex-start;
        font-size: 10px;
}
.key.func-key.esc.active {
        font-size: 9px;
}
#f-13 {
        background-image: url('./assets/images/turn-off.png');
        background-repeat: no-repeat;
        background-size: 23%;
        background-position: center;
}
#f-13.active {
        background-size: 22%;
}
.key.tab {
        width: 80px;
        background-image: url('./assets/images/tab.png');
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: left 13px bottom 10px;
}
.key.tab.active {
        background-size: 19%;
}
.key.enter {
        width: 50px;
        height: 110px;
        background-image: url('./assets/images/enter.png');
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: center top 30px;
}
.key.enter.active {
        background-size: 29%;
}
.key.caps {
        position: relative;
        width: 80px;
        background-image: url('./assets/images/caps.png');
        background-repeat: no-repeat;
        background-size: 18%;
        background-position: left 13px bottom 10px;
}
.indicator {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background-color: white;
}
.key.caps.active {
        background-size: 17%;
}
/* .key.caps.active>.indicator {
        background-color:greenyellow;
} */
.indicator.caps-on {
        background-color:greenyellow;
}
.key.lshift {
        width: 65px;
        background-image: url('./assets/images/shift.png');
        background-repeat: no-repeat;
        background-size: 22%;
        background-position: left 13px bottom 10px;
}
.key.lshift.active {
        background-size: 21%;
}
.key.rshift {
        width: 124px;
        background-image: url('./assets/images/shift.png');
        background-repeat: no-repeat;
        background-size: 12%;
        background-position: right 13px bottom 10px;
}
.key.rshift.active {
        background-size: 11%;
}
.key.fn.active {
        font-size: 9.7px;
}
.key.cmd {
        width: 65px;
}
.cmd {
        background-image: url('./assets/images/command.png');
        background-repeat: no-repeat;
        background-size: 15%;
        background-position: right 10px top 10px;
}
.key.cmd.active {
        background-size: 14%;
        background-position: right 11px top 10px;
        font-size: 9.8px;
}
.opt {
        background-image: url('./assets/images/opt.png');
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: right 10px top 10px;
}
.key.opt.active {
        background-size: 29%;
        background-position: right 11px top 10px;
        font-size: 9.8px;
}
.key.ctrl {
        background-image: url('./assets/images/ctrl.png');
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: right 10px top 10px;
}
.key.ctrl.active {
        background-size: 19%;
        background-position: right 11px top 10px;
        font-size: 9.8px;
}
.key.space {
        width: 283px;
}
.left-arrow {
        background-image: url('./assets/images/left-arrow.png');
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: center center;
}
.left-arrow.active {
        background-size: 9%;
}
.right-arrow {
        background-image: url('./assets/images/right-arrow.png');
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: center center;
}
.right-arrow.active {
        background-size: 9%;
}
.key.arrow {
        height: 24px;
        margin: 0;
        border-radius: 0;
}
.arrow:first-child {
        border-radius: 4px 4px 0 0;
        background-image: url('./assets/images/up-arrow.png');
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: center center;
}
.arrow:first-child.active {
        background-size: 9%;
}
.arrow:last-child {
        border-radius: 0 0 4px 4px;
        box-shadow:
                inset rgba(0,0,0,.8) -2px -2px 4px,
                inset rgba(255,255,255,.7) 1px -1px 4px,
        rgba(0,0,0,.9) 2px 2px 4px -2px;
        background-image: url('./assets/images/down-arrow.png');
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: center center;
}
.arrow:last-child.active {
        background-size: 9%;
}
/* .key:hover {
        box-shadow:
                inset rgba(0,0,0,.8) -3px -3px 2px,
                inset rgba(255,255,255,.4) 1px 1px 2px;
        border: 1px solid rgb(97, 97, 97);
        font-size: 14px;
} */
.key.active, .key.space.active {
        box-shadow:
                inset rgba(0,0,0,.8) -3px -3px 2px,
                inset rgba(255,255,255,.4) 1px 1px 2px;
        border: 1px solid rgb(97, 97, 97);
        font-size: 14px;
}
.key.func-key.active {
        font-size: 7px;
}
.naturalization {
        margin: auto;
        margin-bottom: 0;
        margin-top: 10px;
}
.touchpad {
        width: 300px;
        height: 170px;
        margin: auto;
        /* margin-top: 4px; */
        border-radius: 8px;
        border: 1px solid rgb(148, 147, 147);
        box-shadow:
                inset rgba(0,0,0,.4) 1px 1px 2px,
                inset rgba(255,255,255,.4) -1px -1px 2px;
}
.opener {
        margin: auto;
        margin-top: 5px;
        width: 90px;
        height: 8px;
        background: rgba(66, 66, 66, 0.637) radial-gradient(circle at center, rgba(66, 66, 66, 0.65), rgba(8, 8, 8, 0.15));
        border-radius: 35px 35px 0 0;
}
